@font-face {
    font-family: "Bueno";
    src: url("./public/font/Bueno\ Regular\ Free/OpenType-TT/Bueno-Regular.ttf");
    font-weight: 400;
}

:root {
    --main-font-family: "Bueno";
}

*::before,
*::after,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
    -webkit-font-smoothing: antialiased;
    scrollbar-width: none !important;
    font-family: var(--main-font-family);
}

html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.4;
    background-color: #f5f5f5;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
.h {
    overflow: hidden;
}
.pre {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}
.pre > *:nth-child(1) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
    padding-top: .2rem;
    /* border: 1px solid; */
}
.pre > * > h4 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.5rem;
    transform: translate3d(0,110%,0);
    will-change: transform;
}
.pg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.pgp {
    display: flex;
    position: absolute;
    top: calc(50% + 1.2rem);
    /* border: 2px solid; */
    left: 50%;
    gap: .3rem;
    transform: translateX(-50%);
}
.pgg {
     left: 30%; 
    width: 15px;
    height: 15px;
    border-radius: 50px;
    /* aspect-ratio: 1; */
    border: 1px solid;
    /* background-color: black; */
    pointer-events: all;
    opacity: 0;
    /* color: white; */
    cursor: pointer;
    overflow: hidden;
    will-change: opacity;
}

.pgg > * {
    color: white;
    font-size: 1.2rem;
    position: absolute;
    overflow: hidden;
    left: 50%;
    transform: translate3d(-50%, 110%, 0);
    opacity: 0;
    will-change: transform, opacity;
    pointer-events: all;
}

.c {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.log{
    line-height: 1;
    position: absolute;
    right: 2rem;
    top: 2rem;
    z-index: 10;
}
.log > * {
    text-align: center;
    align-content: center;
}
.log >*>h3{
    text-transform: uppercase;
    font-size: 1.4rem;
    transform: translate3d(0,110%,0);
    will-change: transform;
}
.lin {
    position: absolute;
    top: 2rem;
    left: 2rem;
    z-index: 10;
    pointer-events: all;
}
.lin > * > * {
    line-height: 1;
}
.lin > * > * > * {
    line-height: .8;
    /* padding-top: .5rem; */
}
.lin > * > * > * > a{
    text-transform: uppercase;
    font-size: 1.4rem;
    display: inline-block;
    transform: translate3d(0,150%,0);
    will-change: transform;
}

.pgn {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    z-index: 99;
}
.pgn > * {
    line-height: .8;
    padding-top: 1rem;
    padding-left: 0;
    padding-right: .1rem;
}
.pgn > * > * {
    font-size: 6rem;
    transform: translate3d(0,110%,0);
}
.p {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.co {
    position: absolute;
    left: 50%;
    top: 10rem;
    transform: translate(-50%, -1%);
    /* border: 3px solid red; */
    width: calc(100% - 3.5rem);
    height: calc(100% - 4rem);
    overflow: hidden;
}
.r {
    /* border: 2px solid; */
    height: 100%;
}
.ti  {
    /* border: 2px solid; */
    /* line-height: 1; */
    line-height: 1.2;
    text-align: center;
    height: 30%;
    padding-top: 1rem;
    pointer-events: none;
    transition: opacity 500ms cubic-bezier(0.83, 0, 0.17, 1);
}

.ti > p {
    font-style: italic;
    font-size: clamp(1.2rem, 3vw, 4rem)
}
.ti > *:first-child > * {
    font-size: clamp(1.6rem, 4.5vw, 4rem);
}
.ti > * > * {
    letter-spacing: -.5px;
    transform: translate3d(0,110%,0);
    cursor: pointer;
    pointer-events: all;
}

.ti:nth-child(4),
.ti:nth-child(5),
.ti:nth-child(6) {
    opacity: 0;
}

.tr {
    display: flex;
    max-width: calc(100rem / 4.5);
    margin: auto;
    gap: 2rem;
    align-items: center;
    position: relative;
    /* justify-content: space-evenly; */
}
.tr > *:first-child {
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: .8px;
}
.tr > *:nth-child(2) {
    color:rgb(109, 52, 52);
}
.tr > *:last-child {
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    text-align: end;
    padding-top: 1.5px;
    text-align: center;
    mix-blend-mode: difference;
    color: white;
    align-content: center;
}

.tr > *:last-child >*:first-child {
    color: white;
    opacity: 0;
    pointer-events: none;
}

.tb {
    overflow: hidden;
}
.tbb {
    position: absolute;
    right: 0;
    top: 0;
    background-color: black;
    height: 2px;
    width: 0;
    z-index: -1;
    border-radius: 5px;
    pointer-events: all;
}
.s {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    transform: translate3d(0,110%,0);
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: lightgray;
    pointer-events: none;
    opacity: 0;
}
.ta {
    position: absolute;
    /* border: 1px solid red; */
    top: 95%;
    left: 0;
    width: 100%;
}
.trac {
    position: absolute;
    width: 100%;
    /* border: 2px solid red; */
    top: 80%;
}
.clb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.clb > * {
    position: absolute;
    left: 50%;
    top: 3.5%;
    transform: translateX(-50%);
}
.clb > * > * {
    display: inline-block;
    transform: translate3d(0,110%,0);
    text-transform: uppercase;
    cursor: pointer;
    color: grey;
}
.con {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.thd {
    position: absolute;
    line-height: 1;
    top: 2rem;
    left: 2vw;
    pointer-events: all;
}
.thdt > * > * {
    text-transform: uppercase;
    font-size: 2.4rem;
    transform: translate3d(0,110%,0);
    will-change: transform;
}
.shdt > * > * {
    text-transform: uppercase;
    transform: translate3d(0,110%,0);
    will-change: transform;
}
.p1 {
    position: absolute;
    top: 20%;
    left: 0%;
    transform: translate(5%, -20%);
}
.p1 > * {
    white-space: nowrap;
    font-size: clamp(1rem, 3vw, 5rem);
    line-height: .9;
}
.p1 > * > * {
    transform: translate3d(0,150%,0);
}
.p2 {
    position: absolute;
    top: 45%;
    left: 0%;
    transform: translate(5%, -20%);
}
.p2 > * {
    white-space: nowrap;
    font-size: clamp(1rem, 3vw, 5rem);
    line-height: .9;
}
.p2 > * > * {
    transform: translate3d(0,150%,0);
}

.p3 {
    position: absolute;
    top: 90%;
    left: 0%;
    transform: translate(5%, -20%);
}
.p3 > * {
    white-space: nowrap;
    font-size: clamp(1rem, 3vw, 5rem);
    line-height: .9;
}
.p3 > * > * {
    transform: translate3d(0,150%,0);
}

@media (max-width: 400px) {
    .pre > *:nth-child(1) {
        padding-right: .3px;
    }
}