@font-face {
    font-family: "Bueno";
    src: url("./public/font/Bueno\ Regular\ Free/OpenType-TT/Bueno-Regular.ttf");
    font-weight: 400;
}

*::before,
*::after,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
    scroll-behavior: smooth;
    font-family: 'Bueno';
}

html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: "Bueno";
    line-height: 1.4;
}

.h {
    overflow: hidden;
}


.pre {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #f5f5f5;
}
.pre > .ti {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: clamp(10rem, 2.4vw, 4rem);
    text-transform: uppercase;
    /* color: white; */
}
.pre > .ti > * {
    padding: 0 1.5rem;
}

.pre > .ti > * > * {
    padding: 0 .5rem;
    /* letter-spacing: -.3rem; */
    mix-blend-mode: difference;
    color: black;
    pointer-events: all;
}
.li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    mix-blend-mode: difference;
    transform: translate3d(0,110%,0);
}

.m {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.th {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    pointer-events: all;
    text-transform: uppercase;
    font-size: 7.5rem;
    letter-spacing: -.12rem;
    display: flex;
    line-height: 1;
}
.th > * > * {
    transform: translate3d(0,110%, 0);
}
.em {
    /* border: 2px solid red; */
    position: absolute;
    top: 90%;
    width: 10rem;
    height: 10rem;
    left: 50%;
    transform: translate(-50%,-50%);
}
.emm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.lo-n > * > * {
    font-size: 2.4rem;
    letter-spacing: -.8px;
}
.lo-n > * {
    line-height: .8;
    padding: 2px;
}

.lo-m > * > * {
    transform: translate3d(0,110%,0);
    text-transform: uppercase;
    cursor: pointer;
    pointer-events: all;
}
.top-l {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.top-l > *{
    position: absolute;
    top: 1rem;
}
.en {
    right: 1rem;
    text-transform: uppercase;
    font-size: 1.3rem;
}
.soc {
    left: 1rem;
    display: flex;
    width: 4rem;
    pointer-events: all;
    /* gap: 1rem; */
    align-items: center;
}
.soc > * {
    width: 100px;
    height: 20px;
    display: grid;
    place-content: center;
}
.soc > * > * {
    max-width: 10px;
}
.soc > *:nth-child(1) > * {
    max-width: 16px;
}

.soc > *:nth-child(2) > * {
    max-width: 20px;
}

.soc > *:nth-child(3) > * {
    max-width: 15px;
}

.op {
    opacity: 0;
}
.tr {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: black;
    opacity: 0;
}
.sth {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-30%);
    line-height: .5;
}
.dsth {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.dsth > h2 {
    font-style: italic;
    font-size: 3.3rem;
}
.dsth > h1 {
    text-transform: uppercase;
}
.dsth.dh {
    line-height: .8;
}
.ds2 {
    text-transform: uppercase;
}
.dh2 {
    width: 100%;
}
.dh2 {
    text-align: end;
}
.dsi {
    width: 50px;
}
.dsi > img {
    width: 100%;
    transform: skew(-10deg);
    pointer-events: all;
}
