@font-face {
    font-family: "Bueno";
    src: url("./public/font/Bueno\ Regular\ Free/OpenType-TT/Bueno-Regular.ttf")
}

:root {
    --main-font-family: "Bueno";
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
    font-family: var(--main-font-family);
}

html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1;
    overflow: hidden;
    touch-action: auto;
}
html, body {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    scrollbar-width: none !important;

}

a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
img {
    max-width: 100%;
    display: block;
    height: auto;
    object-fit: cover;
}
input {
    border: none;
    outline: none
}
.hide {
    overflow: hidden;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    /* pointer events for children are allowed. not parent */
    pointer-events: none;
    
}

.logo,
.links {
    position: absolute;
    font-size: 1rem;
    overflow: hidden;
    mix-blend-mode: difference;
    pointer-events: all;
}
.logo > *,
.links > * {
    transform: translate3d(0,110%,0);
    display: inline-block;
    color: black;
    mix-blend-mode: difference;
}

.logo {
    top: 2rem;
    left: 2rem;
}
.links {
    top: 2rem;
    right: 2rem;
}
.links > *:nth-child(2) {
    text-decoration: line-through;
    pointer-events: none;
}
.pre {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.head {
    position: relative;
    /* border: 2px solid; */
    height: 18rem;
    display: grid;
    place-content: end;
    justify-content: center;
    overflow: hidden;
}
.head > h1 {
    font-size: 12rem;
    text-transform: uppercase;
    transform: translate3d(0,110%,0);
    letter-spacing: -3px;
}
.placeholder {
    perspective: 20000px;
    position: absolute;
    top: 150px;
    z-index: -1;
    pointer-events: none;
}
.img {
    /* transform: translateZ(200rem); */
    clip-path: inset(50% 50%);
}
.views {
    position: relative;
    top: 360px;
    height: 20%;
    display: grid;
    justify-content: center;
    place-content: end;
}
.views > * {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 50%;
    left: 50%;
    transform: translate3d(-50%, 500%, 0);
    border: none;
    background: transparent;
    pointer-events: all;
    color: black;
    border: none;
    outline: none;
}
.views > * > * {
    background: transparent;
    border: none;
    color: black;
}
.content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(0,100%,0);
    background-color: white;
}
.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    pointer-events: none;
    background-color: black;
    opacity: 0;
}
.head-c {
    position: absolute;
    top: 2rem;
    left: 2rem;
    height: 20px;
    align-content: center;
}
.head-c > * > *,
.exit > * > * {
    transform: translate3d(0,100%,0);
    pointer-events: all;
    cursor: pointer;
}
.exit {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-weight: 100;
    /* border: 2px solid; */
    width: 50px;
    height: 20px;
    align-content: center;
}
.exit > * > * {
    text-align: center;
    text-transform: uppercase;
}
.img-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 60px;
    display: flex;
}
.img-c {
    /* total amount of images */
    /* flex: 0 0 10%; */
    flex: 0 0 25%;
    position: relative;
    height: 300px;
    /* border: 1px solid; */
}
.img-c > img {
    position: absolute;
    width: 100%;
    opacity: 0;
    object-fit: contain;
    height: 100%;
    /* height: 50%; */
}
.img-c:nth-child(2n + 1) > img {
    top: 10%;
}
.img-c:nth-child(2n) > img {
    top: 80%;
}
.slider {
    height: 100%;
    touch-action: pan-y;
    /* overflow-y: auto; */
    -webkit-overflow-scrolling: touch;
}
.follow {
    position: absolute;
    bottom: 50px;
    width: 80%;
    /* height: 80px; */
    height: 50px;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}
.follow-img-content {
    display: flex;
    transform: translate3d(0,110%,0);
    height: 100%;
}
.img-f {
    width: 100px;
    height: 100%;
    /* height: 50px; */
}
.img-f > img {
    width: 100%;
    height: 100%;
    /* height: 50px; */
    object-fit: cover;
    object-position: top;
}
.indicator {
    width: 40px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0;
    /* opacity: .8; */
    border: 1px solid;
    pointer-events: none;
    
}

.iss {
    height: 100%;
    background: white;
    z-index: 999999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-content: center;
    text-align: center;
    display: none;
}
.iss > * {
    overflow: hidden;
}
.iss > * > * {
    margin: 0 .1rem;
    transform: translate3d(0,100%,0);
    will-change: transform;
}
@media (min-width: 414px){
    .placeholder {
        left: 50%;
        transform: translateX(-50%);
    }
    .placeholder > .img {
        width: 350px;
    }
}

@media (min-width: 700px) {
    .placeholder > .img {
        width: 460px;
    }
    .follow { 
        height: 80px;
    }
}

@media (max-height: 690px) {
    .views {
        top: 280px;
    }
}

@media (max-height: 585px) {
    .views {
        top: 250px;
    }
}

@media (min-width: 414px) and (max-height: 585px) {
    .head {
        position: absolute;
        width: 100%;
        height: 25rem;
    }
    .head > h1 {
        font-size: 20rem;
    }

    .views {
        position: absolute;
        bottom: 10px;
        top: unset;
        width: 100%;
    }
}

@media (min-width: 700px) and (max-height: 585px) {
    .head {
        position: absolute;
        width: 100%;
        height: 25rem;
    }
    .head > h1 {
        font-size: 20rem;
    }

    .views {
        position: absolute;
        bottom: 10px;
        top: unset;
        width: 100%;
    }
    .placeholder > .img {
        width: 360px;
    }
}

@media (max-height: 550px) {
    .iss {
        display: block;
    }
}