<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <title>Blog | Joy Powell</title>
        <link rel="stylesheet" href="./blog.css" type="text/css"/>
    </head>
    <body>
        <div class="pre">
            <div class="h hd">
                <h4>blog</h4>
            </div>
            <div class="pg">
                <div class="pgp">
                    <div class="pg1 pgg">
                        <span>1</span>
                    </div>
                    <div class="pg2 pgg">
                        <span>2</span>
                    </div>
                    <div class="pg3 pgg">
                        <span>3</span>
                    </div>
                    <div class="pg4 pgg">
                        <span>4</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="pgn">
                <div class="h">
                    <h4>1</h4>
                </div>
            </div>
        <div class="c">
            <div class="bg"></div>
            <div class="log">
                <div class="h">
                    <h3>Joy</h3>
                </div>
                <div class="h">
                    <h3>Powell</h3>
                </div>
            </div>
            <div class="lin">
                <ul>
                    <li>
                        <div class="h">
                            <a href="index.html">home</a>
                        </div>
                    </li>
                    <li>
                        <div class="h">
                             <a href="photo.html">gallery</a>
                        </div>
                    </li>
                    <li>
                        <div class="h">
                            <a href="contact.html">contact</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="p">
                <div class="co">
                    <div class="r">
                         <div class="ti">
                            <div class="h">
                                <h1>Action Against Retaliatory Institutional Actions.</h1>
                            </div>
                            <div class="h">
                                <p>Joy Powell's Support Team is asking form public assistance.</p>
                            </div>
                            <div class="h">
                                <div class="tr">
                                    <div class="ini">
                                        <span>NE</span>
                                    </div>
                                    <div class="td">
                                        <span>03/2025</span>
                                    </div>
                                     <div class="tb">
                                        <span class="tbs" data-id="action-against-retaliatory-institutional-actions">More</span>
                                        <!-- <div class="tbb"></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ti">
                            <div class="h">
                                <h1>Bishop Gabriel Hallback Prayer</h1>
                            </div>
                            <div class="h">
                                <p>Prayer from Gabriel Hallback.</p>
                            </div>
                            <div class="h">
                                <div class="tr">
                                    <div class="ini">
                                        <span>NE</span>
                                    </div>
                                    <div class="td">
                                        <span>02/2025</span>
                                    </div>
                                    <div class="tb">
                                        <span class="tbs" data-id="bishop-gabriel-hallback-prayer">More</span>
                                        <!-- <div class="tbb"></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="ti">
                            <div class="h">
                                <h1>Joy Powell Thanks Supporters & Contributors</h1>
                            </div>
                            <div class="h">
                                <p>We would like to send our deepest appreciation.</p>
                            </div>
                            <div class="h">
                                <div class="tr">
                                    <div class="ini">
                                        <span>NE</span>
                                    </div>
                                    <div class="td">
                                        <span>02/2025</span>
                                    </div>
                                    <div class="tb">
                                        <span class="tbs" data-id="joy-powell-thanks-supporters-&-contributors">More</span>
                                        <!-- <div class="tbb"></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                          <div class="ti">
                            <div class="h">
                                <h1>Candlelight Vigil</h1>
                            </div>
                            <div class="h">
                                <p>Candlelight Vigil at Bedford Hills Correctional Facility.</p>
                            </div>
                            <div class="h">
                                <div class="tr">
                                    <div class="ini">
                                        <span>NE</span>
                                    </div>
                                    <div class="td">
                                        <span>02/2025</span>
                                    </div>
                                   <div class="tb">
                                        <span class="tbs" data-id="candlelight-vigil">More</span>
                                        <!-- <div class="tbb"></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                          <div class="ti">
                            <div class="h">
                                <h1>Joy Powell & Others Prisoners Need Our Help</h1>
                            </div>
                            <div class="h">
                                <p> Joy Powell’s Support Team is asking for the public assistance.</p>
                            </div>
                            <div class="h">
                                <div class="tr">
                                    <div class="ini">
                                        <span>NE</span>
                                    </div>
                                    <div class="td">
                                        <span>03/2025</span>
                                    </div>
                                  <div class="tb">
                                        <span class="tbs" data-id="joy-powell-&-others-prisoners-need-our-help">More</span>
                                        <!-- <div class="tbb"></div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="s"></div>
            </div>
        
        </div>
        <script src="./blog.js"></script>
    </body>
</html>