<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <title>Blog | Joy Powell</title>
        <link rel="stylesheet" href="../blog.css" type="text/css"/>
    </head>
    <body>
        <div class="pre">
            <div class="h hd">
                <h4>blog</h4>
            </div>
            <div class="pg">
                <div class="pgp">
                    <div class="pg1 pgg">
                        <span>1</span>
                    </div>
                    <div class="pg2 pgg">
                        <span>2</span>
                    </div>
                    <div class="pg3 pgg">
                        <span>3</span>
                    </div>
                    <div class="pg4 pgg">
                        <span>4</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="c">
            <div class="bg"></div>
            <div class="log">
                <div class="h">
                    <h3>Joy</h3>
                </div>
                <div class="h">
                    <h3>Powell</h3>
                </div>
            </div>
            <div class="lin">
                <ul>
                    <li>
                        <div class="h">
                            <a href="index.html">home</a>
                        </div>
                    </li>
                    <li>
                        <div class="h">
                             <a href="photo.html">gallery</a>
                        </div>
                    </li>
                    <li>
                        <div class="h">
                            <a href="contact.html">contact</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="ta"></div>
            <div class="p">
                <div class="co">
                    <div class="r">
                         <div class="ti">
                            <div class="h">
                                <h1>Call To Action</h1>
                            </div>
                            <div class="h">
                                <p>"The ultimate expression of law is not order - it's prison."</p>
                            </div>
                            <div class="h">
                                <div class="tr">
                                    <div class="ini">
                                        <span>NE</span>
                                    </div>
                                    <div class="td">
                                        <span>12/2025</span>
                                    </div>
                                    <div class="tb">
                                        <span>More</span>
                                        <div class="tbb"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ti">
                            <div class="h">
                                <h1>Immediate Action Is Needed</h1>
                            </div>
                            <div class="h">
                                <p>Greeting's everyone, I just had a disturbing call from Rev. Joy Powell</p>
                            </div>
                               <div class="h">
                                <div class="tr">
                                    <div class="ini">
                                        <span>NE</span>
                                    </div>
                                    <div class="td">
                                        <span>11/2025</span>
                                    </div>
                                    <div class="tb">
                                        <span>More</span>
                                        <div class="tbb"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="ti">
                            <div class="h">
                                <h1>Activist's Push For Systemic Change</h1>
                            </div>
                            <div class="h">
                                <p>Nearly 20 years after a community activist</p>
                            </div>
                               <div class="h">
                                <div class="tr">
                                    <div class="ini">
                                        <span>NE</span>
                                    </div>
                                    <div class="td">
                                        <span>11/2025</span>
                                    </div>
                                    <div class="tb">
                                        <span>More</span>
                                        <div class="tbb"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                          <div class="ti">
                            <div class="h">
                                <h1>Merch from Joy Powell</h1>
                            </div>
                            <div class="h">
                                <p>Art for sale – made by Rev. Joy for this event.</p>
                            </div>
                            <div class="h">
                                <div class="tr">
                                    <div class="ini">
                                        <span>JH</span>
                                    </div>
                                    <div class="td">
                                        <span>11/2025</span>
                                    </div>
                                    <div class="tb">
                                        <span>More</span>
                                        <div class="tbb"></div>                                           
                                    </div>
                                </div>
                            </div>
                        </div>
                          <div class="ti">
                            <div class="h">
                                <h1>Music By Joy Powell</h1>
                            </div>
                            <div class="h">
                                <p>Haters Tryin’ 2Kill Me By Joy Powell</p>
                            </div>
                               <div class="h">
                                <div class="tr">
                                    <div class="ini">
                                        <span>JH</span>
                                    </div>
                                    <div class="td">
                                        <span>11/2025</span>
                                    </div>
                                    <div class="tb">
                                        <span>More</span>
                                        <div class="tbb"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="s"></div>
            </div>
            <div class="pgn">
                <div class="h">
                    <h4>1</h4>
                </div>
            </div>
        </div>
        <script src="../blog.js"></script>
    </body>
</html>