<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <title>Blog | Joy Powell | Page 2</title>
        <link rel="stylesheet" href="../blog.css" type="text/css"/>
    </head>
    <body>
        <div class="pre">
            <div class="h hd">
                <h4>blog</h4>
            </div>
            <div class="pg">
                <div class="pgp">
                    <div class="pg1 pgg">
                        <span>1</span>
                    </div>
                    <div class="pg2 pgg">
                        <span>2</span>
                    </div>
                    <div class="pg3 pgg">
                        <span>3</span>
                    </div>
                    <div class="pg4 pgg">
                        <span>4</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="c">
            <div class="bg"></div>
            <div class="log">
                <div class="h">
                    <h3>Joy</h3>
                </div>
                <div class="h">
                    <h3>Powell</h3>
                </div>
            </div>
            <div class="lin">
                <ul>
                    <li>
                        <div class="h">
                            <a href="index.html">home</a>
                        </div>
                    </li>
                    <li>
                        <div class="h">
                             <a href="photo.html">gallery</a>
                        </div>
                    </li>
                    <li>
                        <div class="h">
                            <a href="contact.html">contact</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="ta"></div>
            <div class="p">
                <div class="co">
                    <div class="r">
                        <div class="ti">
                            <div class="h">
                                <h1>Joy Powell Fundraiser</h1>
                            </div>
                            <div class="h">
                                <p> We’ve been busy preparing for a big fundraising event for Joy</p>
                            </div>
                            <div class="h">
                                <div class="tr">
                                    <div class="ini">
                                        <span>JH</span>
                                    </div>
                                    <div class="td">
                                        <span>11/2025</span>
                                    </div>
                                     <div class="tb">
                                        <span>More</span>
                                        <div class="tbb"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ti">
                            <div class="h">
                                <h1>2025 Happy Father's Day Message</h1>
                            </div>
                            <div class="h">
                                <p>It takes a real man to be a great Father.</p>
                            </div>
                            <div class="h">
                                <div class="tr">
                                    <div class="ini">
                                        <span>NE</span>
                                    </div>
                                    <div class="td">
                                        <span>06/2025</span>
                                    </div>
                                     <div class="tb">
                                        <span>More</span>
                                        <div class="tbb"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="ti">
                            <div class="h">
                                <h1>Bedford Hills Livestream Replay</h1>
                            </div>
                            <div class="h">
                                <p>Candle Light Vigil Showing Love and Solidarity.</p>
                            </div>
                            <div class="h">
                                <div class="tr">
                                    <div class="ini">
                                        <span>NE</span>
                                    </div>
                                    <div class="td">
                                        <span>06/2025</span>
                                    </div>
                                    <div class="tb">
                                        <span>More</span>
                                        <div class="tbb"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                          <div class="ti">
                            <div class="h">
                                <h1>New Survivor Chronicles Podcast</h1>
                            </div>
                            <div class="h">
                                <p>Introducing New Surviver Chronicles Podcast.</p>
                            </div>
                            <div class="h">
                                <div class="tr">
                                    <div class="ini">
                                        <span>NE</span>
                                    </div>
                                    <div class="td">
                                        <span>03/2025</span>
                                    </div>
                                     <div class="tb">
                                        <span>More</span>
                                        <div class="tbb"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                          <div class="ti">
                            <div class="h">
                                <h1>Joy Powell's 63rd Born Date Celebration</h1>
                            </div>
                            <div class="h">
                                <p>March 5, 2025 is Joy’s 63rd birthday.</p>
                            </div>
                            <div class="h">
                                <div class="tr">
                                    <div class="ini">
                                        <span>NE</span>
                                    </div>
                                    <div class="td">
                                        <span>03/2025</span>
                                    </div>
                                     <div class="tb">
                                        <span>More</span>
                                        <div class="tbb"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="s"></div>
            </div>
            <div class="pgn">
                <div class="h">
                    <h4>2</h4>
                </div>
            </div>
        </div>
        <script src="../blog.js"></script>
    </body>
</html>